{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_add_task' ? 'Créer' : 'Editer' %}
{% set title = app.current_route == 'app_add_task' ? 'Créer une tâche' : title %}
{% set button = app.current_route == 'app_add_task' ? 'Ajouter' : 'Modifier' %}

{% block title %} {{ action }} une tache{% endblock %}

{% block body %}
    <main>
        <header>
        <div id="current-user"></div>
        <div id="title-page">
            <h1>{{ title }}</h1>
        </div>
        </header>
        <div id="content">
            {{ form_start(form) }}
                {{ form_row(form.title, {label: 'Titre de la tâche'}) }}
                {{ form_row(form.description) }}
                {{ form_row(form.deadline, {label: 'Date'}) }}
                {{ form_row(form.status, {label: 'Statut'}) }}
                {{ form_row(form.employee, {label: 'Membre'}) }}
                <button class="button button-submit">{{ button }}</button>
            {{ form_end(form) }}
            {% if app.current_route == 'app_edit_task' %}
                <a class="" href="{{ path('app_delete_task') }}">
                    Supprimer la tâche
                </a>
            {% endif %}
        </div>
    </main>
{% endblock %}
