{% extends 'connection/base-logout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="welcome">
    <h1>Inscription</h1>
         {{ form_errors(form) }}
            {{ form_start(form) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                <button class="button button-submit">S'inscrire</button>
            {{ form_end(form) }}
    <p><a href=" {{ path('app_login')}}" style="color:#FFFFFF;" alt="Se connecter">Vous avez déjà un compte?</a></p>

        </div>

{% endblock %}
